In [1]:
x=(1,2,3)

In [3]:
x=(1,) #->tuple

In [4]:
x=(1)

In [5]:
type(x)

int

In [6]:
y=(1,)

In [7]:
type(y)

tuple

In [14]:
tuple=(1,2,3)
list=[1,3,4]
string="python"
sets={1,2,3}
dictionary ={"a":1,'b':2}

In [17]:
type(sets)

set

In [16]:
type(dictionary)

dict

In [ ]:
a,b,c=1,2,3#need 3 variable to unpack since there are 3 values
#a=1,b=2,c=3 positional unpacking

In [21]:
type(a)

int

In [25]:
a,b,c=1,2,"hello"

In [26]:
type(c)

str

In [27]:
a,b,c="XYZ"

In [31]:
print(a,b,c)

X Y Z

In [34]:
a,b=10,20

In [ ]:
a,b=b,a # swapping

In [38]:
print(b)
print(a)

10
20

In [48]:
d={1:"hello",2:"hi",3:"bye",4:"bye"}
for e in d.values():
    print(e)

hello
hi
bye
bye

In [53]:
d={1:"hello",2:"hi",3:"bye",4:"bye"}
for c,e in d.items():
    print(e)
    print(c)

hello
1
hi
2
bye
3
bye
4

In [ ]:
a,b,c,d=d # rare to use this not good approach

In [59]:
print(a)

1

In [60]:
s={'e','r','t','y'}

In [61]:
a,b,c,d=s

In [62]:
print(a)

r

In [63]:
a=(1,2,3,4,5)

In [ ]:
b=1,2,3 #still tuple

In [68]:
type(b)

tuple

In [69]:
a

(1, 2, 3)

In [70]:
b

(1, 2, 3)

In [73]:
a=('a') # it is not parenthesis that decide tuple it is comma

In [ ]:
type(a)

str

In [74]:
a=1,

In [76]:
type(a)

tuple

In [81]:
a=,
a=(,) #invalid syntax not tuple

SyntaxError: invalid syntax (2041381624.py, line 1)

In [82]:
(a,b,c)=[1,2,3]

In [83]:
print(a)

1

In [84]:
print(b)

2

In [85]:
print(c)

3

In [86]:
(a,b)=(1,2) #can do

In [1]:
a=(1,2,3)

In [2]:
print(a[1:])

(2, 3)

In [4]:
print(a[:-1])

(1, 2)

In [ ]:
a=() #Empty tuple

In [6]:
type(a)

tuple

In [11]:
(a,b,c)=[1,2.3,'hello']

In [12]:
print(c[0:4])

hell

In [13]:
type(a)

int

In [14]:
(a,b,c)=(1,2.3,'hello')

In [15]:
type(a)

int

In [ ]:
a,b,x=1,{1,3},['hello'] #can be done like this too

In [18]:
x

['hello']

In [19]:
a,b,c='xyz'

In [20]:
a

'x'

In [21]:
s={1,2,3}

In [ ]:
s[1] #set cannot be index

TypeError: 'set' object is not subscriptable

In [24]:
s={'r','2',3,6}

In [ ]:
s # doesnot give order it was passed in

{'2', 3, 6, 'r'}

In [26]:
for e in s:
    print(e)

r
3
2
6

In [29]:
a,b,x,c=s #unpack

In [28]:
a

'r'

In [30]:
s

{'2', 3, 6, 'r'}

In [31]:
d={1:'a',2:'b'}

In [33]:
a,b=d

In [34]:
a

1

In [35]:
d

{1: 'a', 2: 'b'}

In [45]:
dic={'a':1,'b':2}

In [46]:
x,y=dic

In [41]:
x

'a'

In [47]:
for e in dic.values():
    print(e)

1
2

In [51]:
print(dic.values())
print(dic.keys())

dict_values([1, 2])
dict_keys(['a', 'b'])

In [53]:
for e in dic.keys():
    print(e)

a
b

In [ ]:
for keys,values in dic.items():  # unpacking
    print(keys,values)

a 1
b 2

In [57]:
print(dic.items())

dict_items([('a', 1), ('b', 2)])

In [58]:
l=[1,2,3,4,5,6]

In [60]:
a,b=l[1],l[2] #can be unpacked likw this

In [61]:
a

2

In [62]:
a,*b=[1,2,34,-10,44]

In [63]:
a

1

In [64]:
b

[2, 34, -10, 44]

In [65]:
a,b,c={1,2,6}
x,y,z={'a':1,"b":c,"3":'hello'}

In [66]:
a

1

In [67]:
b

2

In [68]:
c

6

In [69]:
x

'a'

In [71]:
y

'b'

In [74]:
z

'3'

In [ ]:
a,b,*c,d=[2,2,3,4,545,5,654,645,7] # can be used only once callnot be *c *d

In [77]:
a

2

In [78]:
b

2

In [79]:
c

[3, 4, 545, 5, 654, 645]

In [80]:
d

7

In [81]:
l1=[1,2,3]
l2=[5,6,87]

In [82]:
l=l1,l2

In [83]:
l

([1, 2, 3], [5, 6, 87])

In [ ]:
l=[*l1,*l2] # merge list

In [85]:
l

[1, 2, 3, 5, 6, 87]

In [86]:
s={1,23,'hello'}

In [88]:
a,*b=s

In [89]:
a

1

In [90]:
b

['hello', 23]

In [101]:
d={1:'a',2:"b"}
d2={1:'a',4:"c"}

In [102]:
di=[*d,*d2]

In [103]:
di # unpack key only

[1, 2, 1, 4]

In [104]:
D={**d,**d2}

In [ ]:

D #merge dict

{1: 'a', 2: 'b', 4: 'c'}

In [ ]:
l=[1,2,[3,4]]#nested unpacking

In [108]:
a,b,c=l

In [109]:
c

[3, 4]

In [110]:
d,e=c

In [111]:
d

3

In [ ]:
a,*b,(c,d,e)=[1,2,3,4,[2,4,5]] #nested unpacking

In [113]:
c

2

In [114]:
b

[2, 3, 4]

In [115]:
a,*b,(c,*d)=[1,2,3,'python']

In [116]:
d

['y', 't', 'h', 'o', 'n']

In [117]:
b

[2, 3]

In [120]:
a=[1,2,3,'python']

In [160]:
a[0],a[1:-1],a[-1][0],list(a[-1][2:])

(1, [2, 3], 'p', ['t', 'h', 'o', 'n'])

In [161]:
x,y,z,k=a[0],a[1:-1],a[-1][0],list(a[-1][2:])

In [162]:
x,y,z,k

(1, [2, 3], 'p', ['t', 'h', 'o', 'n'])

In [122]:
x,*y=a

In [131]:
type (a)

list

In [133]:
x='python'

In [134]:
type (x)

str

In [137]:
print(x[0])
print(list(x[2:-1]))
print(x[-1])

p
['t', 'h', 'o']
n

In [142]:
l=[1,2,43]
s1='string'
x=[*l,*s1]

In [143]:
x

[1, 2, 43, 's', 't', 'r', 'i', 'n', 'g']

In [ ]:
s={1,2,3,5}
s2={1,2,4,4}
se={*s,*s2} #merge set (can be done also using union)

In [146]:
s.union(s2)

{1, 2, 3, 4, 5}

In [145]:
se

{1, 2, 3, 4, 5}

In [148]:
s={1,2,3}
s2={2,3,45}
s3={2,6,7,89}
s4={5,7,8.9}

In [155]:
# can be done
print([*s,*s2,*s3,*s4],"unpack to list") # unpack to list
print({*s,*s2,*s3,*s4},"unpack to set")
print(s.union(s2,s3,s4),"unpack using uion")

[1, 2, 3, 2, 3, 45, 89, 2, 6, 7, 8.9, 5, 7] unpack to list
{1, 2, 3, 5, 6, 7, 8.9, 45, 89} unpack to set
{1, 2, 3, 5, 6, 7, 8.9, 45, 89} unpack using uion